/* ========== DATA PAGE TABLE ========== */
h2 {
  text-align: center;
  margin-bottom: 1cm;
}
.data-table {
  border-collapse: collapse;
  width: 80%;
  margin: 25px auto;
  font-size: 18px;
}

.data-table th,
.data-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

/* Table header */
.data-table th {
  background-color: #000;
  color: #fff;
}

/* ===== IMAGES PAGE ===== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1cm; 
  margin-top: 20px;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover; 
  border: 3px solid #000; 
  border-radius: 8px;
  transition: transform 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
  }
  
  nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    background-color: #0077cc;
    padding: 5px;
    border-radius: 4px;
  }
  
  h1 {
    text-align: center;
    color: green;
    margin-top: 20px;
    font-size: 32px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 1cm 0;
    text-align: justify;
    font-style: italic;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .column {
    width: 45%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .column h2 {
    color: #333;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #005fa3;
    color: white;
    padding: 5px;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
    }
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1cm;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    background-color: #cce7ff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    gap: 1cm;
  }
  
  .save-btn,
  .cancel-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #ff7f32;
  }
  
  .cancel-btn {
    background-color: #ff7f32;
  }
  
