/* ========== DATA PAGE TABLE ========== */
h2 {
    text-align: center;
    margin-bottom: 1cm;
}
.data-table {
    border-collapse: collapse;
    width: 80%;
    margin: 25px auto;
    font-size: 18px;
}

.data-table th,
.data-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

/* Table header */
.data-table th {
    background-color: #000;
    color: #fff;
}

/* ===== IMAGES PAGE ===== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1cm; 
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover; 
    border: 3px solid #000; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}




/*-------------------------------------*/
.page-title {
    text-align: center;
    margin-bottom: 1cm;
  }
  
  .authors-list {
    border: 1px solid #000;
    padding: 10px 16px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto 20px auto;
  }
  
  .project-links {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .project-links a {
    text-decoration: none;
  }
  
  .project-links a:hover {
    text-decoration: underline;
  }
  /**-------------------------------------**/